@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

i {
	
	color: lightgrey;
	
 }
 i:hover {
 	color: pink;
	cursor: pointer;
 }

 .more {
	color: grey;
	font-weight: bolder;
 }

 .more:hover {
	color: dodgerblue;
 }
 
 .heart {
 	font-size: 25px;
 	border: none;
 }

 
 .btnactive {
 	color: red;
 }
