.login{
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center!important;
    justify-content: center;
    align-content: center;

    .card{
        display: flex;
        flex-direction: row;
        width:50%;
        margin: auto;
        min-width: 700px;
        background-color: #FFFFFF;
        border-radius: 10px;
        min-height: 300px;
        overflow: hidden;
        align-items: center;
        border: none;
        .left{
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            min-width: 350px;
            & h1 {
                color: #545454;
                text-align: center;
                font-weight: bolder;
            }
            & form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                & p{
                    margin: 0;
                }
                & input{
                    border: 2px solid lightgrey;
                    border-radius: 5px;
                    padding: 10px 10px;
                }
                & button{
                    width: 150px;
                    padding: 10px;
                    margin: 10px auto;
                    border: none;
                    border-radius: 5px;
                    background-color: #FFCC30;
                    color: #FFFFFF;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            & img{
                margin-top: 5px;
            }

        }

        .right{
            flex: 1;
            background: linear-gradient(rgb(41, 46, 30, 0.7), rgb(86, 77, 74, 0.7)), url("greeting.png") center;
            background-size: cover;
            min-width: 350px;
            padding: 30px;
            color: #FFFFFF;

            & img{
                display: block;
                margin: 0 auto;
            }
            & h2{
                font-size: 22px;
                text-align: center;
            }
            & p{
            }
            & span{
                margin-top: 10px;
            }
            & a{
                margin-left: 50px;
            }

        }

        & a{
            color: dodgerblue;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
        }
        & a:hover{
            color: #7D7C84;
        }




    }
}