.register{
    height: 100vh;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        & h1 {
            color: #545454
        }
        & form{
            display: block;
            flex-direction: column;
            gap: 10px;
            & p{
                margin: 0;
                text-align: center;
            }
            & input{
                border: 2px solid lightgrey;
                border-radius: 5px;
                padding: 10px 10px;
            }
            & button{
                padding: 10px;
                margin: 10px 0;
                border: none;
                border-radius: 5px;
                background-color: #FFCC30;
                color: #FFFFFF;
                font-weight: bold;
                cursor: pointer;
            }
            & span{
                margin-top: 10px;
            }
            & a{
                color: #545454;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
            }
            & a:hover{
                color: #FFCC30;
            }
        }
    }
}